.social-container1{
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
    background: #F1F6FC;
    border: 2px solid #E6EEFC;
    border-radius: 12px;
}
.textfieldSocial2{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #FFFFFF;
    align-items: center;
    border: 4px solid #E6EEFC;
    border-radius: 8px;
    margin-bottom: 20px;
}
.textfieldSocial{
    width: 100%;
    margin-left: 20px;
    background-color: #FFFFFF;
    align-items: center;
    border: 4px solid #E6EEFC;
    border-radius: 8px;
}
.textfieldSocial input[type=text],
.textfieldSocial2 input[type=text]{
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 5px;
    font-family: 'Poppins', sans-serif;
}
   
.textfieldtitle p{
    margin-bottom: 0px;
    margin-left: 20px;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #000000;
}
.socialRow{
    flex-direction: row;
    display: flex;
}
.sociallogo{
    margin-left: 10px;
    margin-right: 10px;
    background: #FFFFFF;
    border: 4px solid #E6EEFC;
    border-radius: 8px;
    align-items: center;
    width: 115px;
    height: 43px;
    flex-direction: row;
    display: flex;
}
.icon8{
    margin: auto;
    align-items: center;
    color: black;
    height: 30px;
}
.icon9{
    margin: auto;
    align-items: center;
    color: #8B77EE;
    opacity: 0.77;
    height: 20px;
}



.socialbutton button{
    
    display: block;
    margin-left: auto;
    margin-bottom: 20px;
    margin-right: 20px;
}
.button2 {
    border: none;
    color: #000000;
    opacity: 0.8;
    padding: 13px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background: #F1F6FC;
    border: 4px solid #E6EEFC;
    border-radius: 10px;
}
/* //! */

.Social{
    align-items: center;
    flex: 1;
    flex-direction: column;
    display: flex;
}
.infotext1{
    padding: 30px;
    align-items: center;
    flex: 1;
    flex-direction: row;
    display: flex;
}
.infotext1 p{
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
    font-size: 14px;
    opacity: 0.8;
}
.Container1{
    padding-top: 20px;
     width: 100%;
     /* width: 445px; */
     max-width: 445px;
    /* height: 635px; */
    box-shadow: 3px 15px 43px -5px rgba(0, 0, 0, 0.25);
    background: #FDFEFD;
    border-radius: 10px;
    flex-direction: column;
}
.icon27{
    color: #D87575;
}
::placeholder {
    font-weight: normal;
    font-size: 14px;
    color: #000000;
    opacity: 0.6;
}
.textfieldSocial2{
    width: 100%;
}

/* //! ============== responcive ================  */
@media screen and (max-width: 1050px ) {

    
}
@media screen and (max-width: 650px ) {


   
}
@media screen and (max-width: 490px ) {
    .Container1{
        /* width: 90%; */
        border-radius: 8px;
    }

    .social-container{

        margin-left: 10px;
        padding-right: 10px;
        flex-direction: row;
        margin-bottom: 17px;
        border-radius: 10px;

    }
}