.ComponentA1{
    align-items: center;
    flex: 1;
    flex-direction: column;
    display: flex;
}
.Container1{
    padding-top: 20px;
    /* max-width: 445px; */
    box-shadow: 3px 15px 43px -5px rgba(0, 0, 0, 0.25);
    background: #FDFEFD;
    border-radius: 10px;
    flex-direction: column; 
}
.Login-Container-Text171{
    margin-top: 20px;
    margin-bottom: 30px;
}
.Login-Container-Text171 p{
    font-family: 'Poppins', sans-serif;
    align-items: center;
    flex: 1;
    flex-direction: column;
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 10px;
    color: #000000;
}
.contry-code{
    color: #8B77EE;
    padding-right: 10px;
    margin: 0px;
}
.icon345{
    color:#8B77EE;
}

.toogle-1{
    background-color: #fff;
    color: #8B77EE;
    margin: 0px;
    border-color: #fff;
}
.toogle-1:hover{
    background-color: #fff;
    color: #8B77EE;
    border-color: #fff;
}
.toogle-1:active{
    background-color: #fff;
    color: #8B77EE;
    border-color: #fff;
}
.number{
    color:#8B77EE;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.number-2{
    /* margin: 20px; */
    /* padding: 10px; */
    /* padding-right: 10px; */
    /* padding-left: 10px; */
    /* margin-left: 10px;
    margin-right: 10px; */
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    /* white-space: nowrap; */
   
}
.Login-Container-Text179{
    margin-top: 20px;
    margin-bottom: 30px;
    align-items: center;
    flex: 1;
    flex-direction: column;
    display: flex;
}
.input1{
    width: 80%;
    margin: 0px;
    align-items: center;
}
.error-text{
    color: red;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}



.dropdown-item{

}
.dropdown-item:active{
    background-color: #8B77EE;
}