.ComponentA{
    align-items: center;
    flex: 1;
    flex-direction: column;
    display: flex;
}
.Container{
    padding-top: 20px;
    max-width: 445px;
    box-shadow: 3px 15px 43px -5px rgba(0, 0, 0, 0.25);
    background: #FDFEFD;
    border-radius: 10px;
    flex-direction: column;
}
.Login-Container-Text17{
    margin-top: 20px;
    margin-bottom: 30px;
}
.Login-Container-Text17 p{
    font-family: 'Poppins', sans-serif;
    align-items: center;
    flex: 1;
    flex-direction: column;
    display: flex;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}
.contry-code{
    color: #8B77EE;
    padding-right: 10px;
    margin: 0px;
}
.icon345{
    color:#8B77EE;
}

@media screen and (max-width: 490px ) {
    .Container{
        width: 90%;
        border-radius: 8px;
    }
    .Login-Container-Text17 p{
        font-size: 14px;
    }
}