.bg-gradient-1{
    background-image: url('../../../assets/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.Revenue{
    align-items: center;
    flex: 1;
    flex-direction: column;
    display: flex;
    /* padding: 5px; */
}
.Container{
    width: 100%;
    max-width: 445px;
    margin-bottom: 25px;
    padding-top: 20px;
    box-shadow: 3px 15px 43px -5px rgba(0, 0, 0, 0.19);
    background: #FDFEFD;
    border-radius: 10px;
    flex-direction: column;
    flex-direction: column;
}
.textfieldSocial2 input[type=text]{
    width: 90%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
   
    background-repeat: no-repeat;
    padding: 12px 20px 12px 5px;
}
/* //! */
.social-container{
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    border: 4px solid #E6EEFC;
    border-radius: 8px;
    flex-direction: row;
    margin-bottom: 20px;
    background: #F1F6FC;
    border: 2px solid #E6EEFC;
    border-radius: 12px;
}
.textfieldSocial{
    width: 100%;
    margin-left: 20px;
    background-color: #FFFFFF;
    align-items: center;
    border: 4px solid #E6EEFC;
    border-radius: 8px;
}
.textfieldSocial input[type=text],
.textfieldSocial2 input[type=text]{
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 5px;
}
   
.textfieldtitle p{
    margin-bottom: 0px;
    margin-left: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
}
.socialRow{
    flex-direction: row;
    display: flex;
}
.sociallogo{
    margin-left: 10px;
    margin-right: 10px;
    background: #FFFFFF;
    border: 4px solid #E6EEFC;
    border-radius: 8px;
    align-items: center;
    width: 115px;
    height: 43px;
    flex-direction: row;
    display: flex;
}
.icon8{
    margin: auto;
    align-items: center;
    color: black;
    height: 30px;
}
.icon9{
    margin: auto;
    align-items: center;
    color: #8B77EE;
    opacity: 0.77;
    height: 20px;
}

.textfieldSocial2{
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #FFFFFF;
    align-items: center;
    border: 4px solid #E6EEFC;
    border-radius: 8px;
    margin-bottom: 20px;
}

.socialbutton button{
    
    display: block;
    margin-left: auto;
    margin-bottom: 20px;
    margin-right: 20px;
}
.button2 {
    border: none;
    color: #000000;
    opacity: 0.8;
    padding: 13px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background: #F1F6FC;
    border: 4px solid #E6EEFC;
    border-radius: 10px;
}
/* //! date picker */
.datePicker{
    width: 80%;
    margin: 8px;
    font-weight: 400;
    font-size: 20px;
    background-color: transparent;
    border-color: transparent;   
    color: #000000;
}
.dashboard-batch{
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    /* border: 4px solid #E6EEFC; */
    border-radius: 8px;
    flex-direction: row;
    margin-bottom: 20px;
    /* background: #F1F6FC; */
    /* border: 2px solid #E6EEFC; */
    border-radius: 12px;
}
.table-head{

    margin-top: 10px;
    /* padding-top: 10px; */
    margin-left: 10px;
    margin-right: 10px;
    height: 43px;
    display: flex;

    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* color: red; */
    background-color: #E6E3FA;
    /* opacity: 0.2; */

}
.tablehead1{
    background-color: #8B77EE;
    /* color: red; */
    width: 10px;
    height: 100%;
    margin-right: 15px;
} 
.tablehead2{
    background-color: #A9177C;
    /* color: red; */
    width: 10px;
    height: 100%;
    margin-right: 15px;
} 
.tablehead3{
    background-color: #CB2716;
    /* color: red; */
    width: 10px;
    height: 100%;
    margin-right: 15px;
} 
.total-batch-number{
    font-weight: 600;
    font-size: 20px;
    margin-left: auto;
    margin-right: 40px;
    /* padding-left: 50px; */
}
.dashboard-batch-p{
    padding-left: 10px;
}
/* //! taable 1 */
table,tr {
    border: 3px solid #E6EEFC;
    text-align: center;
  }
  td{

    padding: 5px;
  }
  table {
    margin-left: 10px;
    margin-top: 20px;
    width: 95%;
    border-collapse: collapse;
  }
  th{
   /* text-align: left; */
   background-color: #E6EEFC;
   padding: 1px;
  }

  .table-bottom{
    margin-top: 10px;
    /* padding-left: auto; */
    /* padding-right: auto; */
    margin-left: 10px;
    margin-right: 10px;
    height: 43px;
    display: flex;

    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #E6EEFC;
  }
.total-table-number{
    font-weight: 600;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}
.total-table-p{
    font-weight: 600;
    font-size: 20px;
    margin-left: 55px;
    margin-right: auto;
}



 /* //! responcive */
@media screen and (max-width: 1050px){
   
}
@media screen and (max-width: 700px){

   
}
@media screen and (max-width: 550px){
    .Revenue{
        padding: 10px;
    }
    .total-table-p{
        font-size: 16px;
        margin-left: 5px;
    }
    .social-container{
        margin-left: 10px;
        margin-right: 10px;
    }
    .datePicker{
        width: 80%;
        margin: 2px;
    }



    .dashboard-batch{
        margin-left: 10px;
        margin-right: 10px;
    }
    .table-head{
        /* color: red; */
        background-color: #E6E3FA;
    
    }
    .tablehead1{
    } 
    .total-batch-number{
        font-size: 18px;
        margin-right: 15px;
    }
    .dashboard-batch-p{
        padding-left: 10px;
    }
    /* //! taable 1 */
    table,tr {

      }
      td{

      }
      table {
        margin-left: 10px;
        margin-top: 20px;
        width: 95%;
        border-collapse: collapse;
      }
      th{
       /* text-align: left; */
       background-color: #E6EEFC;
       padding: 1px;
      }
    
      .table-bottom{
        margin-top: 10px;
      }
    .total-table-number{
        font-size:  16px;
    }
    .total-table-p{
        font-size: 16px;
        margin-left: 20px;
    }
    

}
